<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= current_user.username %>
      <br>
      <%= link_to 'Create New Sub', new_sub_url %>
      <br>
      <%= link_to 'New Post', new_post_url %>
      <%= button_to 'Sign Out', session_url, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_user_url %>
      <%= link_to 'Sign In', new_session_url %>
    <% end %>

    <% flash[:errors].try(:each) do |err| %>
      <%= err %>
    <% end %>



    <%= yield %>
  </body>
</html>
